<% @page_title = @event.name %>

<div>
	<h2><%= @event.name %></h2>
	<br>
	<div class="well">
		<div class="row">
			<div class="col-md-4">
				<b>Date:</b> <%= @event.date.strftime("%A, %B %e") %>
			</div>
			<div class="col-md-4">
				<b>Time:</b> <%= @event.start_time.strftime("%l:%M %p") %>
			</div>
			<div class="col-md-4">
				<b>Location:</b> <%= @event.address %>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<a href="/events/drive/<%= @event.id %>"><button type="button" class="btn btn-primary btn-block">Sign Up as Driver</button></a>
		</div>
		<div class="col-md-6">
			<button type="button" class="btn btn-primary btn-block">Auto Sign Up</button>
		</div>
	</div>
	
	<div style="height: 20px;"></div>
	<hr>
	<div style="height: 20px;"></div>
	
	<div class="row">
		<% count = 1 %>
		<% @rides.each do |ride| %>
			
			
			<div class="col-md-4">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<% ride.passengers.each do |passenger| %>
						<% if passenger.role == 'driver' %>
							<% @driver = passenger.user %>
						<% end %>
					<% end %>
					<div class="panel-heading"><b>Driver: <%= @driver.first_name %> <%= @driver.last_name %></b></div>
					<div class="panel-body">
						<p><%= ride.num_passengers%> passengers max</p>
						<p><%= ride.notes%></p>
					</div>

					<!-- List group -->
					<ul class="list-group">
						<% ride.passengers.each do |passenger| %>
							<% if passenger.role != 'driver' %>
								<li class="list-group-item"><%= passenger.user.first_name %> <%= passenger.user.last_name %></li>
							<% end %>
						<% end %>
						<form method="POST" action="/events/signup/<%= params[:id] %>?car=<%= ride.id %>">
							<%= token_tag %>
							<li class="list-group-item"><button type="submit" class="btn btn-primary btn-block">Sign Up</button></li>
						</form>
					</ul>
				</div>
			</div>
		
			<!-- clean up rows to make the rides cleaner -->
			<% if count % 3 == 0 %>
				</div>
				<div class="row">
			<% end %>
			<% count = count + 1 %>
		
		<% end %>
		
		<!--<div class="col-md-4">
			<div class="panel panel-danger">
				<div class="panel-heading">Passengers Without Drivers</div>
				<ul class="list-group">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Morbi leo risus</li>
					<li class="list-group-item">Porta ac consectetur ac</li>
					<li class="list-group-item">Vestibulum at eros</li>
				</ul>
			</div>
		</div>-->
	</div>
	
</div>
