# Name: Ben Meyer
# Course: CSC 415
# Semester: Spring 2015
# Instructor: Dr. Pulimood 
# Project name: CooRIDEinate
# Description: Allows for members of an organization to coordinate rides to a common place
# Filename: view.html.erb
# Description: Shows a single organization
# Last modified on: 2015-04-21

<% @page_title = @organization.name %>

<div>
	
	<h1 class="page-header"><%= @organization.name %> - <small><%= @organization.semester %> <%= @organization.year %></small></h1>
	<h4>Events <a href="/events/new/<%= params[:id] %>"><button type="button" class="btn btn-default">Create Event</button></a></h4>
	
	<div class="list-group">
		<% @events.each do |event| %>
			<a href="/events/view/<%= event.id %>" class="list-group-item">
				<h4><%= event.name %></h4>
				<p><%= event.date.strftime("%A, %B %e") %></p>
			</a>
		<% end %>
		
		<!--<a href="#" class="list-group-item">
			<h4>Cras justo odio</h4>
			<p>Text Text date</p>
		</a>
		<a href="#" class="list-group-item">
			<h4>Cras justo odio</h4>
			<p>Text Text date</p>
		</a>
		<a href="#" class="list-group-item">
			<h4>Cras justo odio</h4>
			<p>Text Text date</p>
		</a>
		<a href="#" class="list-group-item">
			<h4>Cras justo odio</h4>
			<p>Text Text date</p>
		</a>
		<a href="#" class="list-group-item">
			<h4>Cras justo odio</h4>
			<p>Text Text date</p>
		</a>-->
	</div>
	
</div><!-- end hours -->
